<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/bs5/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/project.css">



</head>
<body>
    <main class="container  bg-gradient">
       <h1 class="text-center text-white"></h1>
        <h2 class="text-center my-5">회원가입</h2>
        <h3 class="text-center my-5" >홈런과 함께해 주셔서 감사합니다!!</h3>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form name="joinfrm" method="post">
                    <!-- 사용자 유형 -->
                    <div class="mb-3 d-flex justify-content-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="nomeluser" id="nomeluser">
                            <label class="form-check-label" for="nomeluser">일반 사용자</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="business" id="business">
                            <label class="form-check-label" for="business">사업자 사용자</label>
                        </div>
                    </div>

                    <!-- 이름 -->
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-4 col-form-label text-end">이름</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" id="name" required class="form-control">
                        </div>
                    </div>

                    <!-- 생년월일 -->
                    <div class="mb-3 row">
                        <div class="col-sm-4 text-end">생년월일</div>
                        <div class="col-sm-8">
                            <div class="row g-2">
                                <div class="col-4">
                                    <select class="form-select" id="birth-year" required>
                                        <option disabled selected>출생 연도</option>
                                        <!-- 연도 옵션 추가 -->
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" id="birth-month" required>
                                        <option disabled selected>월</option>
                                        <!-- 월 옵션 추가 -->
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" id="birth-day" required>
                                        <option disabled selected>일</option>
                                        <!-- 일 옵션 추가 -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 아이디 -->
                    <div class="mb-3 row">
                        <label for="userid" class="col-sm-4 col-form-label text-end">아이디</label>
                        <div class="col-sm-8">
                            <input type="text" name="userid" id="userid" minlength="6" maxlength="18" required class="form-control">
                        </div>
                    </div>

                    <!-- 비밀번호 -->
                    <div class="mb-3 row">
                        <label for="passwd" class="col-sm-4 col-form-label text-end">비밀번호</label>
                        <div class="col-sm-8">
                            <input type="password" name="passwd" id="passwd" minlength="6" maxlength="18" required class="form-control">
                        </div>
                    </div>

                    <!-- 비밀번호 확인 -->
                    <div class="mb-3 row">
                        <label for="repasswd" class="col-sm-4 col-form-label text-end">비밀번호 확인</label>
                        <div class="col-sm-8">
                            <input type="password" name="repasswd" id="repasswd" minlength="6" maxlength="18" required class="form-control">
                        </div>
                    </div>

                    <!-- 이메일 -->
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-4 col-form-label text-end">이메일</label>
                        <div class="col-sm-8">
                            <input type="email" name="email" id="email" required class="form-control">
                        </div>
                    </div>

                    <!-- 사업자 등록번호 -->
                    <div class="mb-3 row">
                        <label for="businsesno" class="col-sm-4 col-form-label text-end">사업자 등록번호</label>
                        <div class="col-sm-8">
                            <input type="text" name="businsesno" id="businsesno" required class="form-control">
                        </div>
                    </div>

                    <!-- 자동가입방지 -->
                    <div class="mb-3 row">
                        <label for="captcha" class="col-sm-4 col-form-label text-end">자동가입방지</label>
                        <div class="col-sm-8">
                            <div id="captcha" class="form-control"></div>
                        </div>
                    </div>


                    <div class="signupBoxTool__signupBox__terms__title">
                        <h3>개인정보 수집 및 이용</h3>
                    </div>
                    <div class="signupBoxTool d-flex justify-content-center align-items-center  ">
                        <dl>
                            <dt>
                                시행일자: 2024년 08월 23일
                            </dt>
                            <br>
                            <dd>
                                HomeRun(이하 "회사" 또는 "HomeRun"이라고 함)은 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한
                                법률 등 정보통신서비스제공자가 준수하여야 할 관련
                                법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고
                                있습니다.<br /><br />

                                본 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.<br /><br />
                                <input type="checkbox">
                            </dd>

                    <!-- 버튼들 -->
                    <div class="mb-3 row justify-content-center">
                        <div class="col-sm-6 d-flex justify-content-around">
                            <button type="button" id="joinbtn" class="btn btn-success">회원가입</button>
                            <button type="reset" id="rstbtn" class="btn btn-danger">다시입력</button>
                        </div>
                    </div>

                    <br class="text-center">
                    <!-- 카카오 로그인 버튼 -->
                    <div class="mb-3 row justify-content-center">
                        <div class="col-8 text-center">
                            <button type="button" class="btn btn-light">
                                <img src="/static/img/kakao_login_medium_narrow.png" alt="카카오 로그인" class="img-fluid">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>


<script>

    let joinbtn = document.querySelector('#joinbtn')
    let joinfrm = document.joinfrm;


    let checkjoinfrm = (frm) => {
        if (frm.name.value === ''){
            alert('이름을 입력하세요');
            frm.name.focus();
            return false;
        }

       else if (frm.password.value === ''){
            alert('비밀번호를 입력하세요');
            frm.password.focus();
            return false;
        }

       else  if (frm.repasswd.value !== frm.password.value ){
            alert('입력한 비밀번호가 같은지 확인하세요');
            frm.repasswd.focus();
            return false;
        }
        else if (frm.name.value === ''){
            alert('이름이 같은지 확인하세요');
            frm.name.focus();
            return false;
        }

        else if (frm.email.value === ''){
            alert('이메일을 입력하세요');
            frm.email.focus();
            return false;
        }

        else if (frm.businsesno.value === ''){
            alert('사업자 등록 번호를 입력하세요');
            frm.businsesno.focus();
            return false;
        }

    };

joinbtn.addEventListener('click', () => {
    if (!checkjoinfrm(joinfrm)) return;

    const formData = new FormData(joinfrm);
    console.log(formData);
})

joinbtn.addEventListener('click'), () =>{
    if (!checkjoinfrm(joinfrm)) return;


}


</script>
</body>
</html>