<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 약관</title>
</head>
<body>
    <main>
        <div class="signupBoxTool__signupBox__terms__title">
            <h3>개인정보 수집 및 이용</h3>
        </div>
        <div class="signupBoxTool d-flex justify-content-center align-items-center  ">
            <dl>
                <dt>
                    시행일자: 2024년 09월 6일
                </dt>
                <br>
                <dd>
                    HomeRun(이하 "회사" 또는 "HomeRun"이라고 함)은 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한
                    법률 등 정보통신서비스제공자가 준수하여야 할 관련
                    법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고
                    있습니다.<br /><br />

                    본 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.<br /><br />
                    <input type="checkbox">
                </dd>



                <div class="signupBoxTool__signupBox__terms__title">
                    <h3>개인정보 수집 및 이용</h3>
                </div>
                <div class="signupBoxTool d-flex justify-content-center align-items-center  ">
                    <dl>
                        <dt>
                            시행일자: 2024년 09월 6일
                        </dt>
                        <br>
                        <dd>
                            HomeRun(이하 "회사" 또는 "HomeRun"이라고 함)은 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한
                            법률 등 정보통신서비스제공자가 준수하여야 할 관련
                            법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고
                            있습니다.<br /><br />

                            본 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.<br /><br />
                            <input type="checkbox">
                        </dd>



                        <div class="signupBoxTool__signupBox__terms__title">
                            <h3>개인정보 수집 및 이용</h3>
                        </div>
                        <div class="signupBoxTool d-flex justify-content-center align-items-center  ">
                            <dl>
                                <dt>
                                    시행일자: 2024년 08월 23일
                                </dt>
                                <br>
                                <dd>
                                    HomeRun(이하 "회사" 또는 "HomeRun"이라고 함)은 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한
                                    법률 등 정보통신서비스제공자가 준수하여야 할 관련
                                    법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고
                                    있습니다.<br /><br />

                                    본 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.<br /><br />
                                    <input type="checkbox">
                                </dd>
        </main>
</body>
</html>